/*GLOBAL*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*OPDRACHT 1*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vH;
}

/*HEADER*/
header {
    height: 80px;
    flex-grow: 0;
    flex-shrink: 0;
}

/*MAIN*/
main {
    display: flex;
    flex-direction: row;
    flex-grow:1;
    flex-shrink: 0;
}
.section {
    flex-basis: 20%;
    flex-grow: 1;
    flex-shrink: 0;
}
.section-article {
    flex-basis: 60%;
    flex-grow: 1;
    flex-shrink: 1;
}

/*FOOTER*/
footer {
    height: 80px;
    flex-grow: 0;
    flex-shrink: 0;
}